<!-- Toast -->
<ng2-toasty [position]="'top-right'"></ng2-toasty>

<!-- Default view: show faq table -->
<nz-card *ngIf="!faqFormVisible && !isOrgLogin" [@slideIn]>
    <!-- Actions -->
    <div nz-row nzGutter="16" style="margin-bottom: 25px;">
        <div nz-col class="gutter-row d-flex" nzSpan="7">
            <nz-input-group [nzPrefix]="prefiXTemplate">
                <input nz-input placeholder="Search" (keyup)="onKeyUp(searchBox.value)" [(ngModel)]="searchBoxValue"
                    ng-model-options="{ debounce: 1000 }" #searchBox nzSize="small">
            </nz-input-group>
            <ng-template #prefiXTemplate>
                <i nz-icon nzType="search" theme="outline"></i>
            </ng-template>
        </div>
        <div nz-col class="gutter-row" nzSpan="11">&nbsp;</div>
        <div nz-col class="gutter-row" nzSpan="3">
            <nz-select *ngIf="!isOrgLogin" nzPlaceHolder="View" nzDropdownClassName="border-less" (ngModelChange)="changeView($event)"
                class="border-less" [(ngModel)]="selectedType" nzSize="small" style="margin-right: 10px;">
                <nz-option *ngFor="let type of this.faqTypeList" [nzValue]="type.type" [nzLabel]="type.name">
                </nz-option>
            </nz-select>
        </div>
        <div nz-col class="gutter-row" nzSpan="3" style="text-align: right">
            <button nz-button="" nztype=" primary" class="font-small-caps btn-custom-light" title="Delete"
                *ngIf="anyChecked" nz-wave="[object Object]" nz-popconfirm
                nzPopconfirmTitle="Are you sure delete selected faq(s)?" (nzOnConfirm)="deleteFaq(null, true)"
                nzPopconfirmPlacement="topRight" style="margin-right: 10px">
                <img src="assets/images/icons/delete.png" class="deleted-icon-button" />
            </button>
            <button *ngIf="!isOrgLogin" nz-button="" nztype=" primary" (click)="openFaqForm()" class="font-small-caps btn-custom"
                nz-wave="[object Object]"><i class="fa fa-plus button-plus-icon"
                    aria-hidden="true"></i>&nbsp;New</button>
        </div>
    </div>
    <div nz-row nzGutter="16">
        <div nz-col class="gutter-row" nzSpan='24'>
            <nz-table #faqTable [nzData]="faqData" [nzLoading]="loadingFlag">
                <thead>
                    <tr>
                        <th nzShowCheckbox [(nzChecked)]="allChecked" (nzCheckedChange)="checkAll($event)">
                        </th>
                        <th class="font-16 font-small-caps">Question</th>
                        <th class="font-16 font-small-caps">Answer</th>
                        <th [nzShowFilter]="typeSectionFilterList.length !== 0" [nzFilters]="typeSectionFilterList"
                            nzFilterMultiple="true" (nzFilterChange)="changeFilter($event)"
                            class="font-16 font-small-caps">Section
                        </th>
                        <th *ngIf="!isOrgLogin"></th>
                    </tr>
                </thead>
                <tbody cdkDropList (cdkDropListDropped)="reorder($event)">
                    <tr *ngFor="let data of faqTable.data" class="data-row cursor-move" cdkDrag>
                        <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus()"></td>
                        <td>{{data.Question}}</td>
                        <td>{{data.Answer}}</td>
                        <td>{{data.Sections}}</td>
                        <td *ngIf="!isOrgLogin">
                            <span class="data-row-action">
                                <img src="assets/images/icons/edit-dark.png" class="editIconTable" title="Edit"
                                    (click)="fillFaqForm(data)" />
                                <img src="assets/images/icons/delete.png" class="editIconTable" title="Delete"
                                    nz-popconfirm nzPopconfirmTitle="Are you sure delete this FAQ?"
                                    (nzOnConfirm)="deleteFaq(data.FaqId)" nzPopconfirmPlacement="topRight" />
                            </span>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</nz-card>

<!-- New FAQ Form -->
<nz-card *ngIf="faqFormVisible" [@slideIn]>
    <div nz-row nzGutter="16" class="p-l-15">
        <div nz-col class="gutter-row" nzSpan="12">
            <span style="font-size: 14px;font-style: italic;color: #f25865;">
                *All fields are mandatory
            </span>
        </div>
        <div nz-col class="gutter-row" nzSpan="12">
            <a title="Cancel" (click)="closeFaqForm()" style="float: right; color: #a1887c"><i nz-icon nzType="close"
                    theme="outline"></i></a>
        </div>
    </div>
    <form [formGroup]="faqForm" _ngcontent-jfp-c14="" novalidate="" nz-form=""
        class="ant-form ng-untouched ng-invalid ng-dirty ant-form-horizontal p-l-15">
        <nz-form-item class="ant-form-item ant-row">
            <div nz-row nzGutter="16">
                <div nz-col class="gutter-row" nzSpan="24">
                    <nz-form-label _ngcontent-jfp-c14="" class="ant-form-item-label">
                        <label>Type</label>
                    </nz-form-label>
                </div>
            </div>
            <div nz-row nzGutter="16">
                <div nz-col class="gutter-row" nzSpan="8">
                    <nz-form-control _ngcontent-jfp-c14=""
                        class="ng-tns-c16-67 ant-form-item-control-wrapper ng-star-inserted">
                        <div class="ant-form-item-control">
                            <span class="ant-form-item-children">
                                <nz-select nzShowSearch nzAllowClear class="ant-col-30" formControlName="Type"
                                    nzPlaceHolder="Type" nzTitle="Select Type">
                                    <nz-option *ngFor="let type of faqTypeList" [nzValue]="type.type"
                                        [nzLabel]="type.name">
                                    </nz-option>
                                </nz-select>
                                <span class="ant-form-item-children-icon"> </span>
                            </span>
                        </div>
                    </nz-form-control>
                </div>
            </div>
        </nz-form-item>
        <nz-form-item class="ant-form-item ant-row">
            <div nz-row nzGutter="16">
                <div nz-col class="gutter-row" nzSpan="24">
                    <nz-form-label _ngcontent-jfp-c14="" class="ant-form-item-label">
                        <label>Sections</label>
                    </nz-form-label>
                </div>
            </div>
            <div nz-row nzGutter="16">
                <div nz-col class="gutter-row" nzSpan="8">
                    <nz-form-control _ngcontent-jfp-c14=""
                        class="ng-tns-c16-67 ant-form-item-control-wrapper ng-star-inserted ant-col-24">
                        <div class="ant-form-item-control">
                            <span class="ant-form-item-children">
                                <nz-select nzShowSearch nzAllowClear class="ant-col-30" nzMode="multiple"
                                    formControlName="Sections" nzPlaceHolder="Sections" nzTitle="Select Sections">
                                    <nz-option *ngFor="let sec of typeSectionList" [nzValue]="sec.SectionId"
                                        [nzLabel]="sec.Name">
                                    </nz-option>
                                </nz-select>
                                <span class="ant-form-item-children-icon">
                                </span>
                            </span>
                        </div>
                    </nz-form-control>
                </div>
            </div>
        </nz-form-item>
        <nz-form-item class="ant-form-item ant-row">
            <div nz-row nzGutter="16">
                <div nz-col class="gutter-row" nzSpan="24">
                    <nz-form-label _ngcontent-jfp-c14="" class="ant-form-item-label">
                        <label>Question</label>
                    </nz-form-label>
                </div>
            </div>
            <div nz-row nzGutter="16">
                <div nz-col class="gutter-row" nzSpan="8">
                    <nz-form-control _ngcontent-jfp-c14=""
                        class="ng-tns-c16-67 ant-form-item-control-wrapper ng-star-inserted ant-col-24">
                        <div class="ant-form-item-control">
                            <span class="ant-form-item-children">
                                <textarea rows="2" style="resize: none" nz-input formControlName="Question"
                                    placeholder="Question" class="scroller"></textarea>
                                <span class="ant-form-item-children-icon">
                                </span>
                            </span>
                        </div>
                    </nz-form-control>
                </div>
            </div>
        </nz-form-item>
        <nz-form-item class="ant-form-item ant-row">
            <div nz-row nzGutter="16">
                <div nz-col class="gutter-row" nzSpan="24">
                    <nz-form-label _ngcontent-jfp-c14="" class="ant-form-item-label">
                        <label>Answer</label>
                    </nz-form-label>
                </div>
            </div>
            <div nz-row nzGutter="16">
                <div nz-col class="gutter-row" nzSpan="8">
                    <nz-form-control _ngcontent-jfp-c14=""
                        class="ng-tns-c16-67 ant-form-item-control-wrapper ng-star-inserted ant-col-24">
                        <div class="ant-form-item-control">
                            <span class="ant-form-item-children">
                                <textarea rows="3" style="resize: none" nz-input formControlName="Answer"
                                    placeholder="Answer" class="scroller"></textarea>
                                <span class="ant-form-item-children-icon"> </span>
                            </span>
                        </div>
                    </nz-form-control>
                </div>
            </div>
        </nz-form-item>
    </form>
    <nz-divider></nz-divider>
    <div nz-row nzGutter="16">
        <div nz-col class="gutter-row" nzSpan="12">
            <button _ngcontent-jfp-c14="" (click)="updateMode ? resetUpdateForm() : resetFaqForm()" nz-button=""
                nztype="default" class="ant-btn ant-btn-default m-l-15" nz-wave="[object Object]">
                <span>Reset</span>
            </button>
        </div>
        <div nz-col class="gutter-row" nzSpan="12" style="text-align: right;">
            <button _ngcontent-jfp-c14="" (click)="closeFaqForm()" nz-button="" nztype="default"
                class="ant-btn ant-btn-default m-r-15" nz-wave="[object Object]">
                <span>Cancel</span>
            </button>
            <button _ngcontent-jfp-c14="" (click)="updateMode ? updateFAQ() : submitFaq()" nz-button="" nztype="default"
                class="ant-btn ant-btn-primary" [disabled]="!faqForm.valid " nz-wave="[object Object]">
                <span *ngIf="!updateMode">Submit</span>
                <span *ngIf="updateMode">Update</span>
            </button>
        </div>
    </div>
</nz-card>

<nz-card *ngIf="isOrgLogin"   [@slideIn]>
    <nz-spin [nzSpinning]="loadingFlag">
    <nz-collapse nzAccordion *ngIf="isOrgLogin && faqData.length"   >
        <nz-collapse-panel *ngFor="let faq of faqData" [nzHeader]="faq.Question" [nzActive]="faq.active">
          <p>{{ faq.Answer }}</p>
        </nz-collapse-panel>
      </nz-collapse>
      <nz-empty *ngIf="isOrgLogin && !faqData.length"></nz-empty>
    </nz-spin>
</nz-card>